@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

@layer base {
  :root {
    --color-primary: "#222222";
    --color-secondary: "#525252",
    --color-white: "#FFFFFF",
    --color-black: "#000000",
    --color-bg-primary: "#F2F2F2",
    --color-bg-secondary: "#F0F0F0",
    --color-text-main: "#333333",
    --color-border-main: "#DDDDDD",
  }

  body {
    /* デフォルトのフォント */
    font-family: "游ゴシック体", "Yu Gothic", "YuGothic", "sans-serif";

    /* デフォルトのテキストカラー */
    color: #333333;
  }

  /* スクリーンリーダー用のテキスト */
  .c-visually-hidden {
    border: 0!important;
    clip: rect(0,0,0,0)!important;
    height: 1px!important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    white-space: nowrap!important;
    width: 1px!important;
  }
}
